/* body spacing/background */
body {
    background: url(/img/bg-flcl.jpg) no-repeat center top fixed;
    padding-top: 40px;
}

/* width */
.container {
    max-width: 800px;
}

/* nav */
.nav {
    margin-bottom: 5px;
}
.nav li a {
    color: #fff;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}
.nav li a:hover {
    color: inherit;
    background-color: #fff;
    text-shadow: inherit;
}

/* jumbotron */
.jumbotron {
    clear: both;
}
.jumbotron h1 {
    margin-bottom: 20px;
}
.jumbotron ul {
    line-height: 1.5em;
}

/* footer */
#footer {
    margin-top: -12px;
    color: #fff;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    font-weight: bold;
}
